[core]
	excludesfile = "~/.gitignore"
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[github]
	user = justmytwospence
[include]
	path = "~/.gitconfig.local"
[init]
  defaultBranch = main
[pull]
  rebase = true
[rebase]
	autostash = true
  autosquash = true
[rerere]
	enabled = true
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
[user]
	email = "github@spencerboucher.com"
	name = "Spencer Boucher"
