[Unit]
Description=Emacs

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure
Type=simple
