[submodule "plugins/herdr-attention-queue"]
	path = plugins/herdr-attention-queue
	url = https://github.com/justmytwospence/herdr-attention-queue.git
[submodule "plugins/herdr-focus-notify"]
	path = plugins/herdr-focus-notify
	url = https://github.com/yankewei/herdr-focus-notify.git
