[submodule "plugins/herdr-attention-queue"]
	path = plugins/herdr-attention-queue
	url = https://github.com/justmytwospence/herdr-attention-queue.git
	branch = main
[submodule "plugins/pi-plan-mode"]
	path = plugins/pi-plan-mode
	url = https://github.com/justmytwospence/pi-plan-mode.git
	branch = main
[submodule "plugins/tmux-agents"]
	path = plugins/tmux-agents
	url = https://github.com/justmytwospence/tmux-agents.git
	branch = main
[submodule "plugins/herdr-repeat-navigation"]
	path = plugins/herdr-repeat-navigation
	url = ssh://git@github.com/justmytwospence/herdr-repeat-navigation.git
