/* Layout improvements (IMHO) */

div#header, div#notebook-container {
  box-shadow: none !important;
}

div#notebook, .notebook_app {
  background-color: white;
}

/* Fix for making ex mode visible when line numbers are enabled */
div.CodeMirror-dialog-bottom {
  position: relative;
  z-index: 999;
}

/* Custom font */
div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: DejaVu Sans Mono, Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

/* Selenized light theme */

div.cell.edit_mode {
  border: thin #489100 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #ad8900;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 14px;
}

div.cell.selected {
  border-color: #009c8f;
}

div.input_prompt {
  color: #0072d4;
}

div.output_prompt {
  color: #d2212d;
}

span.ansiblack {color: #3a4d53;}
span.ansiblue {color: #009c8f;}
span.ansigray {color: #909995;}
span.ansigreen {color: #489100;}
span.ansipurple {color: #8762c6;}
span.ansired {color: #d2212d;}
span.ansiyellow {color: #ad8900;}

div.output_stderr {background-color: #d2212d;}
div.output_stderr pre {color: #ece3cc;}

.cm-s-ipython.CodeMirror {background: #fbf3db; color: #3a4d53;}
.cm-s-ipython div.CodeMirror-selected {background: #ece3cc !important;}
.cm-s-ipython .CodeMirror-gutters {background: #fbf3db; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #909995;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #53676d !important;}

.cm-s-ipython span.cm-comment {color: #53676d;}
.cm-s-ipython span.cm-atom {color: #8762c6;}
.cm-s-ipython span.cm-number {color: #c25d1e;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #489100;}
.cm-s-ipython span.cm-keyword {color: #8762c6;}
.cm-s-ipython span.cm-string {color: #489100;}
.cm-s-ipython span.cm-operator {color: #3a4d53;}
.cm-s-ipython span.cm-builtin {color: #8762c6;}

.cm-s-ipython span.cm-variable {color: #3a4d53;}
.cm-s-ipython span.cm-variable-2 {color: #0072d4;}
.cm-s-ipython span.cm-def {color: #c25d1e;}
.cm-s-ipython span.cm-error {background: #d2212d; color: #53676d;}
.cm-s-ipython span.cm-bracket {color: #3a4d53;}
.cm-s-ipython span.cm-tag {color: #d2212d;}
.cm-s-ipython span.cm-link {color: #8762c6;}
.cm-s-ipython span.cm-meta {color: #d2212d;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #3a4d53 !important;}
