[Desktop Entry]
Type=Application
Name=Emacsclient
Comment=GNU Emacs Client
Exec=/usr/local/bin/emacsclient -c %F
Icon=/usr/local/share/emacs/26.1/etc/images/icons/hicolor/128x128/apps/emacs.png
TryExec=/usr/local/bin/emacs
Terminal=false
StartupNotify=true
