[Unit]
ConditionFileIsExecutable=/usr/bin/gpg-agent
Description=gpg-agent

[Service]
ExecStart=/usr/bin/gpg-agent --daemon
ExecStop=/usr/bin/pkill gpg-agent
Restart=always
Type=forking

[Install]
WantedBy=default.target
