[config]
;homedir = /home/spencer/.local/share/Mailpile/default ; (default) Location of Mailpile data
version = 1.0.0rc3           ; Mailpile program version

[config/prefs: User preferences]
auto_mark_as_read = True     ; Automatically mark e-mail as read
language = C                 ; User interface language
motd_url = default           ; URL to the Message Of The Day
open_in_browser = False      ; Open in browser on startup

[config/sys: Technical system settings]
;fd_cache_size = 500         ; (default) Max files kept open at once
http_host = 127.0.0.1        ; Listening host for web UI
http_port = 11433            ; Listening port for web UI
;minfree_mb = 1024           ; (default) Required free disk space (MB)

[config/sys/proxy: Proxy settings]
fallback = True              ; Allow fallback to direct conns
host = 127.0.0.1             ; Host
no_proxy = localhost%2C 127.0.0.1%2C ::1 ; List of hosts to avoid proxying
port = 9050                  ; Port
protocol = tor               ; Proxy protocol

