[Unit]
Description=Terminator

[Install]
WantedBy=default.target

[Service]
ExecStart=/bin/terminator --config /home/spencer/.config/terminator/popup-config --hidden --maximize
Restart=always
RestartSec=1
Type=simple
